<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h3>New Contact: </h3>
        <div>
            <ul>
                  <li><strong>Name:</strong> {{ contact.get('name') }}</li>
                  <li><strong>Phone:</strong> {{ contact.get('phone') }}</li>
                  <li><strong>Email:</strong> {{ contact.get('email') }}</li>

                  <li><strong>Address:</strong>
                      <ul>
                          <li><strong>Street:</strong> {{ contact.get('address').get('street') }}</li>
                          <li><strong>City:</strong> {{ contact.get('address').get('city') }}</li>
                          <li><strong>State:</strong> {{ contact.get('address').get('state') }}</li>
                      </ul>
                  </li>
            </ul>
            <a href='/'><button>Back to Address Book</button></a>
        </div>
    </body>
</html>
