<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New Contact</title>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <script src="js/jquery-3.1.1.js"></script>
        <script src="js/scripts.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
    </head>
    <body>
        <div class ="container-fluid">
            <div id="address-review" class="col-xs-12">
                <h3>New Contact: </h3>
                    <div>
                        <ul>
                            <li><strong>Name:</strong> {{ contact.get('name') }}</li>
                            <li><strong>Phone:</strong> {{ contact.get('phone') }}</li>
                            <li><strong>Email:</strong> {{ contact.get('email') }}</li>
                            <li><strong>Address:</strong>
                                <ul>
                                    <li><strong>Street:</strong> {{ contact.get('address').get('street') }}</li>
                                    <li><strong>City:</strong> {{ contact.get('address').get('city') }}</li>
                                    <li><strong>State:</strong> {{ contact.get('address').get('state') }}</li>
                                </ul>
                            </li>
                        </ul>
                        <a href='/'><button class="all-buttons btn">Back to Address Book</button></a>
                    </div>
            </div>
        </div>
    </body>
</html>
