<html>
    <head>
        <meta charset='utf-8'>
        <title>Contact Entry</title>
    </head>
    <body>
        <form action='/new_contact' method='post'>
            <h1>Please enter your contact's information below:</h1>
            <label for='name'>Name: </label>
            <input id='name' name='name' type='text'>

            <label for='phone'>Phone: </label>
            <input id='phone' name='phone' type='text'>

            <label for='email'>Email: </label>
            <input id='email' name='email' type='text'><br>

            <label>Address: </label><br>
            <label for='address-street'>Street: </label>
            <input id='address-street' name='address-street' type='text'>

            <label for='address-city'>City: </label>
            <input id='address-city' name='address-city' type='text'>

            <label for='address-state'>State: </label>
            <input id='address-state' name='address-state' type='text'>
            <button type='submit'>View your entry</button>
        </form>

        <h1>Address Book:</h1>
        <h3>Current Entries: </h3>
        <div>
            <ul>
                  {% for contact in contacts %}
                      <li><strong>Name:</strong> {{ contact.get('name') }}</li>
                      <li><strong>Phone:</strong> {{ contact.get('phone') }}</li>
                      <li><strong>Email:</strong> {{ contact.get('email') }}</li>

                      <li><strong>Address:</strong>
                          <ul>
                              <li><strong>Street:</strong> {{ contact.get('address').get('street') }}</li>
                              <li><strong>City:</strong> {{ contact.get('address').get('city') }}</li>
                              <li><strong>State:</strong> {{ contact.get('address').get('state') }}</li>
                          </ul>
                      </li>
                  {% endfor %}
            </ul>
        </div>
        <form action='/delete_tasks' method='post'>
        <button type='submit'>Delete tasks</button>
    </form>
    </body>
</html>
