<html>
    <head>
        <meta charset='utf-8'>
        <title>Contact Entry</title>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <script src="js/jquery-3.1.1.js"></script>
        <script src="js/scripts.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
    </head>
    <body>
        <div class ="container-fluid">
            <h1 id="home-header">Address Book</h1>
            <h4>Current Entries: </h4>
                {% for contact in contacts %}
                    <div class="contact-div col-xs-12 col-md-3">
                        <ul>
                            <li>Name: {{ contact.get('name') }} </li>
                            <li>Phone: {{ contact.get('phone') }} </li>
                            <li>Email: {{ contact.get('email') }} </li>
                            <li>Address
                                <ul>
                                    <li>Street: {{ contact.get('address').get('street') }} </li>
                                    <li>City: {{ contact.get('address').get('city') }} </li>
                                    <li>State: {{ contact.get('address').get('state') }} </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
                <form action='/delete_contacts' method='post'>
                    <button class="btn" type='submit'>Delete all contacts</button>
                </form>

            <div id="new-contact-form">
                <form action='/create_contact' method='post'>
                    <h4>Please enter your contact's information below:</h4>
                    <div class="new-entry col-md-6">
                        <div id="name-input" class="form-group">
                            <label for='name'>Name: </label>
                            <input id='name' name='name' type='text'>
                        </div>
                        <div id="phone-input" class="form-group">
                            <label for='phone'>Phone: </label>
                            <input id='phone' name='phone' type='text'>
                        </div>
                        <div id="email-input" class="form-group">
                            <label for='email'>Email: </label>
                            <input id='email' name='email' type='text'>
                        </div>
                    </div>
                    <div class="new-entry col-md-6">
                        <div id="street-input" class="form-group">
                            <label for='address-street'>Street: </label>
                            <input id='address-street' name='address-street' type='text'>
                        </div>
                        <div id="city-input" class="form-group">
                            <label for='address-city'>City: </label>
                            <input id='address-city' name='address-city' type='text'>
                        </div>
                        <div id="state-input" class="form-group">
                            <label for='address-state'>State: </label>
                            <input id='address-state' name='address-state' type='text'>
                        </div>
                    </div><br>
                    <button class="btn" type='submit'>View new contact</button>
                </form>
            </div>
        </div>
    </body>
</html>
